* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --yellow: #FFD700;
    --warm-black: #1e1e1e;
    --orange: #ff8a00;
    --electric-blue: #011045;
    --just-white: #faf8f7;
}
html{
    font-size: 62.5%;
    background-color: var(--just-white);
}
header{
    width: 100%;
    min-width: 320px;
    height: 116px;
    background-color: white; 
}
.header-imgs-container {
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
}
.logo-ree {
    width: 200px;
    height: 80px;
    margin: 0 auto;
}
.whatsapp-logo {
    display: block;
    position:relative;
    top: 40px;
    left: 20px;
    height: 33px;
    width: 33px;
    background-image: url('./recursos/iconos/Whatsapp.svg');
}
.facebook-logo {
    height: 33px;
    width: 33px;
    display: block;
    position: relative;
    top: 40px;
    right: 20px;
    background-image: url('./recursos/iconos/Facebook.svg');
}
.menu-container {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.menu-container p{
    margin: 0 5px;
    font-weight: bold;
    font-size: 1.6rem;
}
.header-container {
    width: 100%;
    height: 300px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(408.8deg, #007fff 16.69%, #C0C0C0 100%)
}
.header-img-background-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.header-container h1{
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}
.header-container h1 p{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: var(--yellow);
}

.header-title--container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}
.number-header {
    margin-top: 10px;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.eslogan {
    margin-top: 20px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: lighter;
    color: white;
}

.header-container .header-title--container button {
    z-index: 1;
    display: flex;
    align-items: center;
    position: relative;
    width: 150px;
    height: 40px;
    font-size: 1.8rem;
    font-weight: bold;
    left: calc(50% - 75px);
    padding: 0 10px;
    top: 30px;
    border-radius: 8px;
    border: none;
    color: var(--warm-black);
    background-color: var(--yellow);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.header-container button span {
    display: block;
    margin-left: 17px;
    width: 24px;
    height: 19px;
    background-image: url('./recursos/iconos/right-arrow.svg');
}
.products-tipes--container {
    width: 100%;
    min-width: 320px;
    height: auto;
    font-family: 'DM Sans', sans-serif;
}

.products-tipe-refrigeration--container {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    height: 230px;
    background-color: var(--just-white);
}

.products-tipe-refrigeration--container .refrigeration-logo{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    background-image: url('./recursos/iconos/Air-Conditioner.svg');
}
.products-tipe-refrigeration--container h2{
    font-size: 3.2rem;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    color: var(--warm-black);
}
.products-tipe-refrigeration--container button {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    position: relative;
    top: 10px;
    padding-top: 6px;
    border: 3px solid black;
    background-color: transparent;
}
.products-tipe-refrigeration--container button span {
    margin-left: 10px;
    margin-bottom: 15px;
    align-self: center;
    width: 30px;
    height: 30px;
    background-image: url('./recursos/iconos/ArrowUpShort-refrigeration.svg');
}

.products-tipe-electricity--container {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    height: 230px;
    background-color: var(--orange);
}

.products-tipe-electricity--container .electricity-logo{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    background-image: url('./recursos/iconos/Light.svg');
}
.products-tipe-electricity--container h2{
    font-size: 3.2rem;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    color: white;
}

.products-tipe-electricity--container button {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    position: relative;
    top: 10px;
    color: white;
    border: 3px solid white;
    padding-top: 6px;
    background-color: transparent;
}

.products-tipe-electricity--container button span {
    margin-left: 10px;
    margin-bottom: 15px;
    align-self: center;
    width: 30px;
    height: 30px;
    background-image: url('./recursos/iconos/ArrowUpShort-electricity.svg');
}

.products-tipe-electronic--container {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    height: 230px;
    background-color: var(--warm-black);
}

.products-tipe-electronic--container .electronic-logo{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    background-image: url('./recursos/iconos/computer.svg');
}
.products-tipe-electronic--container h2{
    font-size: 3.2rem;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    color: var(--orange);
}

.products-tipe-electronic--container button {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    position: relative;
    top: 10px;
    color: var(--orange);
    border: 3px solid var(--orange);
    padding-top: 6px;
    background-color: transparent;
}

.products-tipe-electronic--container button span {
    margin-left: 10px;
    margin-bottom: 15px;
    align-self: center;
    width: 30px;
    height: 30px;
    background-image: url('./recursos/iconos/ArrowUpShort-electronic.svg');
}
